# Neo4j Config
NEO4J_URI=
NEO4J_USERNAME=
NEO4J_PASSWORD=

# Optional if your DB name is not 'neo4j'
NEO4J_DATABASE=neo4j

# Google Vertex AI / Gemini Config
PROJECT_ID=
GOOGLE_CLOUD_PROJECT=
GOOGLE_APPLICATION_CREDENTIALS_JSON=

# LLM MODEL CONFIGS (used by get_llm)
LLM_MODEL_CONFIG_OPENAI_GPT_4O=gpt-4o,<your-openai-api-key>
LLM_MODEL_CONFIG_GEMINI_1_5_PRO=gemini-1.5-pro
LLM_MODEL_CONFIG_GEMINI_1_5_FLASH=gemini-1.5-flash
LLM_MODEL_CONFIG_GEMINI_2_0_FLASH=gemini-2.0-flash-001
LLM_MODEL_CONFIG_GEMINI_2_0_PRO=gemini-2.0-pro-exp-02-05
LLM_MODEL_CONFIG_GEMINI_2_5_PRO_EXPERIMENTAL=gemini-2.5-pro-exp-03-25
LLM_MODEL_CONFIG_CLAUDE=claude-3-sonnet-20240229,<your-claude-api-key>


EFFECTIVE_SEARCH_RATIO=5